<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Pizzeria Acebuche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">

  <div class="container">
  <div style="background-color: #ec691c;">
      <img src="../../assets/img/Acebuche.png" class="principal">
    </div>
    <ion-card routerLink="/categorias">
      <img src="../../assets/img/categorias.jpg" />
      <ion-card-header>
        <ion-card-title>Categorías de vino</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>